.bon {
  top: 0;
  float: right
}

.bon1 {
  overflow: hidden;
}


.hide {
  display: none;
}

.thumb-post img {
  -o-object-fit: none;
  object-fit: none;
  /* Do not scale the image */
  -o-object-position: center;
  object-position: center;
  /* Center the image within the element */
  width: 100%;
  max-height: 400px;
  margin-bottom: 2rem;
}

/* Окно */

.overlay_popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
}

.popup {
  display: none;
  position: absolute;
  z-index: 10000;
  left: 40%;
  top: 30%;
}

.object {
  width: 500px;
  height: 250px;
  background-color: #eee;
  padding: 50px 70px;
}

.wrapper {
  width: 200px;
  max-width: 200px;
  max-height: 250px;
  height: 250px;
}

.exmpl img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ex { 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fs-7 {
  font-size: 7rem;
}

.myalert {
  width: 20%;
  z-index: 10000;
  position: fixed;
  right: 1%;
  bottom: 5%;
}

.l-pass {
  display:inline-block;
  width: 15%;
}
.b-pass {
	display:inline-block;
  width: 81%;
}

.pass{
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-eye' viewBox='0 0 16 16'> <path d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z'/><path d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/></svg>")  no-repeat;
  background-position: center center;
}

.pass.view {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16"><path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/><path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/><path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/></svg>')  no-repeat;
  background-position: center center;
}

.update{
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></svg>')  no-repeat;
  background-position: center center;
}

.card {
  position: relative;
  width: 300px;
  height: 100px;
  color: white;
  }
  .card__front{
  z-index: 1;
  position: relative;
  background-color: cyan;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
  }
  .card__back{
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  background-color: orange;
  transform: rotateY(-180deg);
  transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
  }
  .card:hover .card__back {
  transform: rotateY(0deg);
  z-index: 2;
  }
  .card:hover .card__front {
  transform: rotateY(180deg);
  z-index: -1;
  }